.card-container {
    padding: 15px;
    box-shadow: 0px 10px 15px 0px rgb(230 230 230);
    height: 100vh;
}
.card-title {
    color: #333;
    text-align: center;
}
.add-remove > button {
    border: none;
    background: none;
}
.item{
    box-shadow: 0px 0px 10px 0px rgb(226 226 226);
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 10px;
    height:160px;
    overflow: auto;
}
.add-remove{
    box-shadow: 0px 0px 10px 0px rgb(226 226 226);
    width: 95px;
    float: right;
    border-radius: 5px;
}
/* body{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
} */