.nav-text {
    font-size: 22px;
    color: #333!important;
}
.nav-container{
    box-shadow: 0px 0px 15px 0px rgb(230 230 230);
}
.nav-container{
    width:100%;
    overflow: auto
}
.nav-container > Link{
    color: #362121;
}